<div class="row">
    <div class="col-lg-12 margin-tb">
        <div class="pull-left">
            <h1>Item Management</h1>
        </div>
        <div class="pull-right" style="padding-top:30px">
            <div class="box-tools" style="display:inline-table">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-search"></i></div>
                    </div>
                    <input type="text" class="form-control input-sm ng-valid ng-dirty" placeholder="Search" ng-change="searchDB()" ng-model="searchText" name="table_search" title="" tooltip="" data-original-title="Min character length is 3">
                </div>
            </div>
            <button class="btn btn-success" data-toggle="modal" data-target="#create-user" ng-click="newBorrow()">Tambah Baru</button>
            <button ng-click="refresh()" class="btn btn-success"><i class="fas fa-undo" style="color:white"></i></button>
        </div>
    </div>
</div>
<table class="table table-bordered pagin-table">
    <thead>
        <tr>
            <th>No</th>
            <th>Nama Peminjam</th>
            <th>Buku</th>
            <th>Tanggal Pinjam</th>
            <th>Tanggal Kembali</th>
            <th>Tanggal Dikembalikan</th>
            <th width="220px">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr dir-paginate="value in data | itemsPerPage:5" total-items="totalItems">
            <td>{{ $index + 1 }}</td>
            <td>{{ value.name }}</td>
            <td>{{ value.title }}</td>
            <td>{{ value.borrow_time.substring(0,10) }}</td>
            <td>{{ value.return_time }}</td>
            <td>{{ value.returned_time }}</td>
            <td>
                <div ng-if="value.returned_time === null">
                    <button data-toggle="modal" ng-click="return(value.id)" data-target="#return-data" class="btn btn-success"><i class="fas fa-undo" style="color:white"></i>Kembalikan</button>
                    <button ng-click="remove(value,$index)" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                </div>
                <div ng-if="value.returned_time !== null">
                    <button ng-click="remove(value,$index)" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<dir-pagination-controls class="pull-right" on-page-change="pageChanged(newPageNumber)" template-url="templates/dirPagination.html" ></dir-pagination-controls>
<!-- Create Modal -->
<div class="modal fade" id="create-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" name="addItem" role="form" ng-submit="saveAdd()">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Create Item</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <strong>Nama Peminjam : </strong>
                            <div class="form-group">
                                <!-- <input ng-model="form.user" type="text" placeholder="Nama peminjam" name="user" class="form-control" required /> -->
                                <select ng-model="form.user_id" name="user_id" class="form-control" required>
                                    <option selected>Pilih Peminjam</option>
                                    <option ng-repeat="x in users" value="{{x.id}}">{{x.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <strong>Buku : </strong>
                            <div class="form-group" >
                                <!-- <input ng-model="form.book" type="text" placeholder="Buku yang dipinjam" name="book" class="form-control" required /> -->
                                <select ng-model="form.book_id" name="book_id" class="form-control" required>
                                    <option selected>Pilih Buku</option>
                                    <option ng-repeat="x in books" value="{{x.id}}">{{x.title}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" ng-disabled="addItem.$invalid" class="btn btn-primary">Submit</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
    
<!-- Edit Modal -->
<div class="modal fade" id="edit-data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" name="editItem" role="form" ng-submit="saveEdit()">
                <input ng-model="form.id" type="hidden" placeholder="Name" name="name" class="form-control" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Item</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                               <input ng-model="form.title" type="text" placeholder="Name" name="title" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                               <textarea ng-model="form.description" class="form-control" required>
                                </textarea>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <strong>Penulis : </strong>
                            <div class="form-group">
                                <input ng-model="form.writer" type="text" placeholder="Penulis" name="writer" class="form-control" required />
                            </div>
                        </div>
                        <!-- <div class="col-xs-12 col-sm-6 col-md-6">
                            <strong>Gambar : </strong>
                            <div class="form-group">
                                <input ng-model="form.image" type="text" placeholder="Gambar" name="image" class="form-control" required />
                            </div>
                        </div> -->
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <strong>Stok : </strong>
                            <div class="form-group">
                                <input ng-model="form.stock" type="text" placeholder="Stok buku" name="stock" class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" ng-disabled="editItem.$invalid" class="btn btn-primary create-crud">Submit</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Return Modal -->
<div class="modal fade" id="return-data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" name="returnItem" role="form" ng-submit="saveReturn()">
                <input ng-model="form.id" type="hidden" placeholder="Name" name="name" class="form-control" />
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Kembalikan Buku</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                <input ng-model="form.user_id" type="hidden" placeholder="Nama peminjam" name="user_id" class="form-control" disabled />
                                <input ng-model="form.name" type="text" placeholder="Nama peminjam" name="name" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input ng-model="form.book_id" type="hidden" placeholder="Judul buku" name="book_id" class="form-control" disabled />
                                    <input ng-model="form.title" type="text" placeholder="Judul buku" name="title" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input ng-model="form.returned_time" type="date" placeholder="Tanggal dikembalikan" name="returned_time" class="form-control" required />
                                </div>
                            </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" ng-disabled="returnItem.$invalid" class="btn btn-primary create-crud">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


